* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom left, #eaea12, #28f4ec)
}

.container {
    width: 400px;
    padding: 25px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #91efe4;
    border-radius: 10px;
}

.container p {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
    position: relative;

}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(232, 0, 252, 0.82);
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 10px;
    text-overflow: ellipsis;
}

.container button {
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0 ,0, 0.3);
    cursor: pointer;
    margin: 20px 0;
    text-overflow: ellipsis;
}
